<div class="row">
  <div class="profile col-md-3 wow fadeInDown">
    <div class="profile-image">
      <img src="assets/images/gmorel-transparency.png"/>
    </div>
    <div class="profile-info">
      <div class="name-job">
        <h1>Guillaume MOREL</h1>
        <span class="job">Interim CTO</span>
        <br/>
        <span class="job">Certified Symfony Expert</span>
        <br/>
        <span class="job">Freelance</span>
      </div>
      <div class="social-icons">
        <a href="https://github.com/gmorel" title="GitHub">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://twitter.com/guilmorel" title="Twitter">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/guillaume-morel" title="LinkedIn">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
    </div>
  </div>


  <div id="tab-container" class="col-md-9">
    <header>
      <nav>
        <ul class="top-menu wow fadeInRight">
          <li>
            <a class="selected" href="/">
              <fa-icon [icon]="faUser"></fa-icon>
              <br/>
              <span class="hidden-xs"> About Me </span>
            </a>
          </li>
          <li>
            <a class="selected" href="/more">
              <fa-icon [icon]="faInfoCircle"></fa-icon>
              <br/>
              <span class="hidden-xs"> More </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <router-outlet></router-outlet>

  </div>
</div>
